main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center
}

main > form {
    padding: 5rem;
    border: 1px solid gray;
}

main > form > button, main > form > label {
    display: block;
    margin-top: 1rem;
}

main > form > select {
    width: 100%;
}